.main-image{
	height: 500px;
}
.navbar-form-custom{
	padding:0;
	border:none;
}
body{
	margin-bottom: 80px;
	margin-top: 80px;
}

/*--------------*/

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}