<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="static/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>		
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<a href="/" class="navbar-brand">Cleandrathe</a>
			<div class="col-xs-5 col-sm-3">
				<form method="GET" action="/search" class="navbar-form navbar-form-custom" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" name="q" id="q">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
			
			<button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> New Page</a></li>
					<li><a href="/">Home</a></li>
					{% if user %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.name}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">profile</a></li>
								<li class="divider"></li>
								<li><a href="/logout">logout</a></li>
							</ul>
						</li>
					{% else %}
						<li><a href="/login">sign in</a></li>
					{% endif %}
				</ul>
			</div>
			
		</div>
	</div>
	{% block content %}
	{% endblock %}
	
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text pull-left">Site created by Josh Donahue 2014</p>
		</div>
	</div>
	
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">New Page</h4>
				</div>
				<form class="form-horizontal" method="GET" action="/newpage">
					<div class="modal-body">
					<div class="form-group">
					
						<div class="col-xs-1"></div>
												
						<label for="inputEmail" class="control-label col-xs-2">Name</label>					
						<div class="col-xs-6">
							<input type="text" class="form-control" name="name" id="name">
						</div>
						
						<div class="col-xs-3"></div>
						
					</div>
					</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">confirm</a>
						</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</body>
</html>